.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  img {
    max-width: 250px;
    align-self: center;
    background-color: var(--project-card-bg);
    border-radius: 20px;
  }

  a {
    width: fit-content;
    text-decoration: none;
    color: #222;
    transition: transform 200ms ease-in-out;
  }

  a:hover {
    transform: scale(1.05);
  }
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (width >= 800px) {
  .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 30px;
  }
}

/* Mobile screens: 0px – 595px */
@media (max-width: 595px) {
  .container {
    margin-top: 100px;
  }
}

/* iPad Mini and small tablets: 596px – 796.8px */
@media (min-width: 596px) and (max-width: 796.8px) {
  .container {
    margin-top: -150px;
  }
}

/* Medium to large tablets or laptops: 796.9px – 1056px */
@media (min-width: 796.9px) and (max-width: 1056px) {
  .container {
    margin-top: -380px;
  }
}
