.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  img {
    max-width: 250px;
    align-self: center;
    background-color: var(--project-card-bg);
    border-radius: 20px;
  }

  a {
    width: fit-content;
    text-decoration: none;
    color: #222;
    transition: transform 200ms ease-in-out;
  }

  a:hover {
    transform: scale(1.05);
  }
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (width >= 800px) {
  .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 30px;
  }
}

/* Small screens - Projects section below */
/* @media (max-width: 595.1px) {
  .container {
    
    margin-top: 100px; 
  }
}
@media (max-width: 1056px) {
  .container {
    
    margin-top: -100px; 
  }
} */

/* Small screens - Phones */
/* @media (max-width: 595px) {
  .container {
    margin-top: 100px;
  }
} */

/* Medium screens - Tablets and small laptops */
/* @media (min-width: 596px) and (max-width: 1056px) {
  .container {
    margin-top: -350px; 
  }
}
@media (min-width: 1057px) {
  .container {
    margin-top: -100px;
  }
} */

/* Phones (small screens) */
@media (max-width: 595px) {
  .container {
    margin-top: 100px;
  }
}

/* iPad Mini / Tablets (medium screens) */
@media (min-width: 596px) and (max-width: 1056px) {
  .container {
    margin-top: -350px;
  }
}

@media (min-width: 1057px) {
  .container {
    margin-top: -100px;
  }
}

@media (max-width: 796.8px) {
  .container {
    margin-top: -150px;
  }
}
